* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    height: 100vh;
    max-width: 1280px;
    background-color: #56A9DBFF;
}

.container {
    padding: 1.25em;
    width: 40em;
    background-color: #FFFFFFFF;
    margin-top: 5em;
}
h1 {
    font-size: 1.7em;
    margin-bottom: 0.6em;
}